.btn {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    display: block;
    border: 2px solid #96470a;
    background-color: transparent;
    color: #96470a;
    font-size: 20px;

    &:hover{
        background-color: #96470a;
        color:#fff;
        border-color:#96470a
    }
}

.text {
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    max-width: 400px;
}