.timer {
    text-align: left;
    font-size: 20px;
    height: 45px;
    border: 2px solid #088dff;
    border-radius: 10px;
    max-width: 466px;
    padding: 6px 0;
    margin: 15px auto;
    color: #088dff;
    font-weight: bold;

    span {
        padding: 0 20px 0 10px;
    }
}

.deck {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 510px;
    text-align: center;
    margin-top: 25px;
}